<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032958347947-f130dd50unom65rr51jhjhdun83544d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032958347947-f130dd50unom65rr51jhjhdun83544d8</string>
	<key>API_KEY</key>
	<string>AIzaSyAkqKoOqmhTQoXM9g0Lqbce_MbM29CNrOs</string>
	<key>GCM_SENDER_ID</key>
	<string>1032958347947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.splitwiseSdp</string>
	<key>PROJECT_ID</key>
	<string>equi-split</string>
	<key>STORAGE_BUCKET</key>
	<string>equi-split.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032958347947:ios:0e7b4fce18f816b3aa85ee</string>
</dict>
</plist>